<div class="row">

</div>

<% if Rails.env.development? %>
  <div class="row">
    <div class="col-md-offset-3 col-md-6">
      <%= form_for @new_quote, html: { class: 'form-horizontal' } do |f| %>
        <div class="form-group">
          <%= f.label :token, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :token, class: 'form-control', value: 'YpGqLVxCz2nXt7oFvzU4ObFe' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :team_id, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :team_id, class: 'form-control', value: 'T0001' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :channel_id, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :channel_id, class: 'form-control', value: 'C2147483705' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :channel_name, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :channel_name, class: 'form-control', value: 'test' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :user_id, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :user_id, class: 'form-control', value: 'U2147483697' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :user_name, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :user_name, class: 'form-control', value: 'Steve' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :command, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field :command, class: 'form-control', value: '/weather' %>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :text, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_area :text, class: 'form-control', value: '94070' %>
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-8">
            <%= f.submit 'Add Quote', class: 'btn btn-primary', style: 'width: 100%' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
