<!DOCTYPE html>
<html>
<head>
  <title>Zeus Quotes</title>
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js' %>
  <%= csrf_meta_tags %>
  <meta name="robots" content="noindex,nofollow">
</head>
<body>

<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <%= link_to "Zeus Quotes", root_path, class: 'navbar-brand' %>
  </nav>

  <%= yield %>
</div>

</body>
</html>
