<!DOCTYPE html>
<html>
<head>
  <title>Zeus Quotes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <%= link_to "Zeus Quotes", root_path, class: 'navbar-brand' %>
  </nav>

  <%= yield %>
</div>

</body>
</html>
